<div class="bootstrap-wrapper">
    <div class="container mt">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" style="width: 100px;" src="/assets/register-icon-free-16.jpg" alt="">
                </div>

                <h1 class="text-center">Register Here !!!</h1>

                <form >
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput [(ngModel)]="user.username" name="username" />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [(ngModel)]="user.password" name="password"/>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput [(ngModel)]="user.email" name="email"/>
                    </mat-form-field>

                    <div class="container text-center">
                        <a type="submit" mat-raised-button color="primary" routerLink="/register">Login</a>
                   
                        <a style="margin-left: 10px;" (click)="onSubmit()" type="submit" mat-raised-button color="accent" routerLink="/login">Register</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

